div.fix-block {
  max-height: 300px;
  overflow: auto;
}

div.war {
  min-height: 300px;
  margin-top: 100px;
}

#chartdiv {
  width: 100%;
  min-height: 300px;
}

div.coininfo {
  background: #eee;
  padding: 10px 15px;
  margin: 10px 0px;
  border-radius: 5px;
}

body > .container-fluid {
  padding: 61px 15px 0;
}

#footer {
  height: 61px;
  background: #eee;
}

#footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

#footer > .container-fluid p {
  margin-top: 20px;
}
