div.fix-block {
  max-height: 300px;
  overflow: auto;
}

div.war {
  min-height: 300px;
  margin-top: 100px;
}

#chartdiv {
  width: 100%;
  min-height: 300px;
}

div.coininfo {
  background: #eee;
  padding: 10px 15px;
  margin: 10px 0px;
  border-radius: 5px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 61px 15px 0;
}
.container .container-fluid {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

body > .container-fluid {
  padding: 61px 15px 0;
}

#footer {
  height: 61px;
  background: #eee;
}

#footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

#footer > .container-fluid p {
  margin-top: 20px;
}
